@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}
.header {
	background-color: aqua;
	text-align: center;
	min-height: 10vh;
	display: flex;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}
nav {
	background-color: #24252a;
	font-weight: 500;
	font-size: 16px;
	color: whitesmoke;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	cursor: pointer;
}
.main {
	background-color: whitesmoke;
}
.footer {
	background-color: rgb(94, 88, 88);
	color: white;
	text-align: center;
}
.lista {
	list-style: none;
}
.lista li {
	display: inline-block;
	padding: 0px 20px;
	text-decoration: none;
}
.lista li a {
	transition: all 0.3s ease 0s;
}
.lista li a:hover {
	color: #0088a9;
}
a {
	text-decoration: none;
	color: whitesmoke;
}
div.banner{
    flex:1;
}
div.banner.left{
    background-color: bisque;
}

div.banner.right{
    background-color:darksalmon;
}

section.content{
    flex:3;
	text-align: center;
	display:flex;
	flex-direction: column;
}
section.main{
    display:flex;
    flex-direction: row;
    min-height:90vh;
}
section.content2 {
	text-align: center;
	height:100%;
}
div.menu{
	text-align: center;
}